! Urxvt
!
URxvt.buffered: true
URxvt.cursorColor: #395573
URxvt.cursorUnderline: false
URxvt.cursorBlink: false
URxvt.geometry: 80x22
URxvt.transparent: true 
URxvt.shading: 9 
URxvt*urgentOnBell: true
URxvt.lineSpace: 1
URxvt.letterSpace: -2
URxvt*scrollBar_right: false
URxvt*scrollBar: false
URxvt*borderLess: false

! Font settings
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
!Xft.dpi: 108
Xft.dpi: 96
Xft.rgba: rgb
 
! -- Fonts -- !
!URxvt.font:xft:dejavu sans mono:medium:size=12
!URxvt.boldFont:xft:dejavu sans mono:medium:size=12
URxvt.font:xft:Monaco:bold:size=11
URxvt.boldfont:xft:Monaco:bold:size=11
!URxvt.font:xft:droid sans mono slashed:size=10.5
!URxvt.boldFont:xft:droid sans mono slashed:size=10.5
!URxvt.font: xft:Luxi Mono:regular:size=10.5
!URxvt.boldFont: xft:Luxi Mono:regular:size=10.5
 
!! perl extensions
URxvt.perl-ext:             default,url-select,clipboard
 
! Nastavuje kopirovani
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
 
! disable the stupid ctrl+shift 'feature'
URxvt.iso14755: false
URxvt.iso14755_52: false
 

! invisibone by baskerville
!
!
! vim: set ft=xdefaults:
!
! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

! URxvt*background:              S_base03
! URxvt*foreground:              S_base0
! URxvt*fading:                  40
! URxvt*fadeColor:               S_base03
! URxvt*cursorColor:             S_base1
! URxvt*pointerColorBackground:  S_base01
! URxvt*pointerColorForeground:  S_base1

! URxvt*color0:                  S_base02
! URxvt*color1:                  S_red
! URxvt*color2:                  S_green
! URxvt*color3:                  S_yellow
! URxvt*color4:                  S_blue
! URxvt*color5:                  S_magenta
! URxvt*color6:                  S_cyan
! URxvt*color7:                  S_base2
! URxvt*color9:                  S_orange
! URxvt*color8:                  S_base03
! URxvt*color10:                 S_base01
! URxvt*color11:                 S_base00
! URxvt*color12:                 S_base0
! URxvt*color13:                 S_violet
! URxvt*color14:                 S_base1
! URxvt*color15:                 S_base3

URxvt*.foreground:   #f0e9dc
URxvt*.background:   #3e3e3e
URxvt*.cursorColor:  #f0e9dc
URxvt*.color0:       #3e3e3e
URxvt*.color8:       #5d5d5d
URxvt*.color1:       #966575
URxvt*.color9:       #cf8ba2
URxvt*.color2:       #659675
URxvt*.color10:      #90d6a6
URxvt*.color3:       #968665
URxvt*.color11:      #e0bf80
URxvt*.color4:       #657596
URxvt*.color12:      #5f7ab1
URxvt*.color5:       #756596
URxvt*.color13:      #807793
URxvt*.color6:       #658e96
URxvt*.color14:      #1fb6d3
URxvt*.color7:       #d0d0d0
URxvt*.color15:      #f6f6f6
